.DS_Store
.vscode
__pycache__
*.pyc
env/
src/e4stypes/email.py
src/static/*.png
!src/static/book.png
!src/static/chair.png
!src/static/electronic.png
!src/static/football.png
!src/static/shirt.png
client_secret.json 
