{% extends 'base.html' %}

{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Exchange4Students</h1>
        <p class="lead text-muted">Stevens Institute of Technology's Premier Exchange Marketplace</p>
        <h3>ERROR 404: RESOURCE NOT FOUND</h3>
        <h4>The page you are looking for does not exist, please try again.</h4>
      </div>
    </div>
  </section>
  
{% endblock %}
     