<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  {{ fontawesome_html() }}
  <title>Exchange for Students</title>

  <!--extra styles-->
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .col {
      max-width: 15em;
      max-height: 30em;
      margin-right: 3em;
      margin-left: 3.5em;
      margin-bottom: 1.5em;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .navButton:hover {
      background-color: rgba(95, 95, 95, 0.747);
      border-radius: 1em;
    }
  </style>
</head>

<body>
  <header>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link navButton" aria-current="page" href="/" style="color: white;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navButton" aria-current="page" href="/books" style="color: white;">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navButton" aria-current="page" href="/clothes" style="color: white;">Clothes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navButton" aria-current="page" href="/electronics"
                style="color: white;">Electronics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navButton" aria-current="page" href="/sports" style="color: white;">Sports Gear</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navButton" aria-current="page" href="/furniture" style="color: white;">Furniture</a>
            </li>

          </ul>
          <form class="d-flex" method="POST" id="search_term" action="/search">
            <input name="search_term" id='search_term' class="form-control me-2" type="search" placeholder="Search"
              aria-label="Search">
            <button class="btn btn-outline-success fas fa-search" type="submit"></button>
          </form>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="dropdown col-lg-3-margin col-md-4-margin col-xs-12-margin d-flex p-2">
            <button type="button" class="btn btn-primary" data-toggle="dropdown">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart <span
                class="badge badge-pill badge-danger">{{cart.item_list|length}}</span></button>
            <div class="dropdown-menu">
              <div class="row total-header-section">
                <div class="col-lg-3-margin col-md-4-margin col-xs-12-margin d-flex p-2">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <div class="col-lg-6 col-sm-6 col-6 total-section text-right">
                  <p>Total: <span class="text-info">fix this</span></p>
                </div>
              </div>
              <div class="row cart-detail">
                {% if items|length == 0 %}
                <div class="col-lg-3-margin col-md-4-margin col-xs-12-margin d-flex p-2">
                  <h2 class="text-muted">No Items in Cart</h2>
                </div>
                {% endif %}
                {% for item in cart.item_list %}
                <div class="col-lg-3-margin col-md-4-margin col-xs-12-margin d-flex p-2">
                  <div class="card shadow-sm" style="width: 18rem;">
                    <div class="card-body">
                      <p class="card-text">{{item.get_title()}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a class="btn btn-sm btn-outline-secondary" href="/view/{{item.get_item_id()}}">View</a>
                        </div>
                        <span class="text-muted" style="font-size: medium;">${{item.get_price()}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12 col-12 text-center checkout">
                  <button class="btn btn-primary btn-block">Checkout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </nav>
  </header>
  {% block content %}
  {% endblock %}
</body>

</html>