{% extends 'base.html' %}

{% block content %}
<main>

  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <h2>Checkout</h2>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{cart.item_list|length}}</span>
          </h4>
          <ul class="list-group mb-3">
            {% if cart.item_list|length == 0 %}
            <div class="col-lg-3-margin col-md-4-margin col-xs-12-margin d-flex p-2">
              <h2 class="text-muted">No Items in Cart</h2>
            </div>
            {% endif %}
            {% for item in cart.item_list %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{item.get_title()}}</h6>
              </div>
              <span class="text-muted">${{item.get_price()}}</span>
            </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>${{total}}</strong>
            </li>
          </ul>

        </div>
        <div class="col-md-8 order-md-1">
          <form class="p-3" method="POST" id="checkout" enctype="multipart/form-data">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">First name</label>
                  <input type="text" class="form-control" id="firstName" name="firstName_val" placeholder="" value="">
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Last name</label>
                  <input type="text" class="form-control" id="lastName" name="lastName_val" placeholder="" value="">
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="email">Email <span class="text-muted"></span></label>
                <input type="email" class="form-control" id="email" name="email_val" placeholder="you@example.com">
                <div class="invalid-feedback">
                  Please enter a valid email address.
                </div>
              </div>

              <label for="drop">Choose Delivery Method</label>
              <select class="form-control" name="drop_val" id="drop">
                <option selected disabled value="">Select</option>
                <option value="Ship">Ship</option>
                <option value="Dropoff/Pickup">Dropoff/Pickup</option>
              </select>
            </div>
            <div class="form-group" name="ship_drop_val" id="ship_drop">
              <h4 class="mb-3">Shipping Information</h4>
              <!-- <form class="needs-validation" novalidate> -->
              <div class="mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address_val" placeholder="1234 Main St">
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>

              <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="country">Country</label>
                  <input type="text" class="form-control" id="country" name="country_val" placeholder="" value="">
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="state">State</label>
                  <input type="text" class="form-control" id="state" name="state_val" placeholder="" value="">
                </div>
                <div class="col-md-3 mb-3">
                  <label for="zip">Zip</label>
                  <input type="text" class="form-control" id="zip" name="zip_val" placeholder="">
                </div>
              </div>
              <hr class="mb-4">
            </div>

            <div class="form-group" name="meet_val" id="meet">
              <h4 class="mb-3">Meetup Information</h4>
              <div class="row">
                <label for="meet">Choose a Meeting Place</label>
                <select class="form-control" name="place_val">
                  <option selected disabled value="">Select</option>
                  <option value="babbio">Babbio Patio</option>
                  <option value="palmer">Palmer Lawn</option>
                  <option value="pierce">Pierce Cafe</option>
                  <option value="eas">EAS Park</option>
                </select>

                <label for="date">Meeting Date</label>
                <input type="text" class="form-control" id="date" name="date_val" placeholder="XX/XX/XXXX" value="">
                <div class="invalid-feedback">
                  Please select a valid date.
                </div>

                <label for="meet_time">Choose a Meeting Time</label>
                <select class="form-control" name="time_val">
                  <option selected disabled value="">Select</option>
                  <option value="ten">10:00 AM</option>
                  <option value="twelve">12:00 PM</option>
                  <option value="two">2:00 PM</option>
                  <option value="four">4:00 PM</option>
                </select>

              </div>
            </div>

            <h4 class="mb-3">Payment</h4>
            <div class="row" id="venmo" name="venmo">
              <div class="col-md-6 mb-3">
                <label for="v-name">Venmo Username</label>
                <input type="text" class="form-control" id="v-name" name="v-name" placeholder="">
                <small class="text-muted">"Username will be sent to seller for charging"</small>
                <div class="invalid-feedback">
                  Username is required
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit Order</button>
          </form>
        </div>
</main>

<script>
  $('#ship_drop').hide();
  $('#meet').hide();
  $("#drop").change(function () {
    if ($(this).val() == "Ship") {
      $('#ship_drop').show();
      $('#meet').hide();
    }
    else if ($(this).val() == "Dropoff/Pickup") {
      $('#meet').show();
      $('#ship_drop').hide();
    }
  });
</script>

{% endblock %}