{% extends 'listing.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class=flashes>
  {% for message in messages %}
  <div class="alert alert-success alter-dismissable fade show text-center" style="font-size: x-large;">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Exchange4Students</h1>
        <p class="lead text-muted">Stevens Institute of Technology's Premier Exchange Marketplace</p>
        <p>
          <a class="btn btn-primary btn-lg" href="/sell">Sell an Item</a>
        </p>
      </div>
    </div>
  </section>

  {{ super() }}
  {% endblock %}