{% extends 'listing.html' %}

{% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Exchange4Students</h1>
        <p class="lead text-muted">Stevens Institute of Technology's Premier Exchange Marketplace</p>
        <p>
          <a class="btn btn-primary btn-lg" href="/sell">Sell an Item</a>
        </p>
      </div>
    </div>
  </section>

  {{ super() }}
{% endblock %}
     