<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <title>Exchange for Students</title>

  <!--extra styles-->
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <header>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/books">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/clothes">Clothes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/electronics">Electronics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/sports">Sports Gear</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/furniture">Furniture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Logout</a>
          </li>
            <!-- Account dropdown not implemented -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->
          </ul>
          <form class="d-flex" method="POST" id="search_term" action="/search">
            <input name="search_term" id='search_term' class="form-control me-2" type="search" placeholder="Search"
              aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Post your item for sale here:</h1>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light" id="item_box">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <form class="p-3" method="POST" id="sellitem" action="/sell"  enctype="multipart/form-data">
                <div class="form-group">
                  <label for="category_drop">Choose a Category</label>
                  <select class="form-control" name="category_drop_val" id="category_drop">
                    <option value="no">Select</option>
                    <option value="books">Books</option>
                    <option value="clothes">Clothes</option>
                    <option value="furniture">Furniture</option>
                    <option value="electronics">Electronics</option>
                    <option value="sports">Sports Gear</option>
                  </select>
                </div>

                <!--Post Title-->
                <div class="form-group" id="post_title">
                  <label for="post_title_val">Title for Post</label>
                  <input type="text" name="post_title_val" id="post_title_val">
                </div>

                <!-- Price -->
                <div class="form-group" id="price">
                  <label for="price">Price ($)</label>
                  <input type="text" name="price_val" id="price_val">
                </div>

                <!-- Book Properties -->
                <div class="form-group" id="book_title_ed">
                  <div class="row">
                    <div class="col-6">
                      <label for="title_val">Book Title</label>
                      <input type="text" name="title_val" id="title_val">
                    </div>
                    <div class="col-6">
                      <label for="ed_val">Book Edition</label>
                      <input type="text" name="ed_val" id="ed_val">
                    </div>
                  </div>
                </div>

                <div class="form-group" id="dimensions">
                  <div class="row">
                    <div class="col-6">
                      <label for="height_val">Height (in.)</label>
                      <input type="text" name="height_val" id="height_val">
                    </div>
                    <div class="col-6">
                      <label for="width_val">Width(in.)</label>
                      <input type="text" name="width_val" id="width_val">
                    </div>
                    <div class="col-6">
                      <label for="length_val">Length (in.)</label>
                      <input type="text" name="length_val" id="length_val">
                    </div>
                  </div>
                </div>

                <div class="form-group" id="quantity">
                  <label for="quantity_val">Quantity</label>
                  <input type="text" name="quantity_val" id="quantity_val">
                </div>

                <div class="form-group" id="weight">
                  <label for="weight_val">Weight (lbs)</label>
                  <input type="text" name="weight_val" id="weight_val">
                </div>

                <div class="form-group" id="color">
                  <label for="color_val">Color</label>
                  <input type="text" name="color_val" id="color_val">
                </div>

                <div class="form-group" id="type">
                  <label for="type_val">Type</label>
                  <input type="text" name="type_val" id="type_val">
                </div>

                <div class="form-group" id="course_num">
                  <label for="course_num_val">Course Number</label>
                  <input type="text" name="course_num_val" id="course_num_val">
                </div>

                <div class="form-group" id="size">
                  <label for="size">Size</label>
                  <select class="form-control" id="size_val" name="size_val">
                    <option>Select</option>
                    <option value=0>Small</option>
                    <option value=1>Medium</option>
                    <option value=2>Large</option>
                    <option value=3>Extra Large</option>
                  </select>
                </div>

                <div class="form-group" id="gender">
                  <label for="gender">Gender</label>
                  <select class="form-control" id="gender_val" name="gender_val">
                    <option>Select</option>
                    <option value=0>Unisex</option>
                    <option value=1>Female</option>
                    <option value=2>Male</option>
                  </select>
                </div>

                <div class="form-group" id="model">
                  <label for="model">Model</label>
                  <input type="text" name="model_val" id="model_val">
                </div>

                <div class="form-group" id="comments">
                  <label for="comments_val">Description</label>
                  <input type="text" name="comments_val" id="comments_val">
                </div>

                <div class="form-group" id="seller">
                  <label for="seller_val">Your Email</label>
                  <input type="text" name="seller_val" id="seller_val">
                </div>

                <div class="form-group" id="photo">
                  <label for="photo">Photos</label>

                  <div class="input-group">
                    <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">
                        Browse… <input type="file" id="fileupload" name="file" multiple>
                      </span>
                    </span>
                    <!-- <input type="text" class="form-control" readonly> -->
                  </div>

                </div>

                <input type="submit" value="Submit" class="btn btn-outline-success">
              </form>


              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center"></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </main>
  <!-- jquery stuff-->
  <script>
    $("#category_drop").change(function () {
      //required
      // $('#book_title_ed').attr('required', '');
      // $('#weight').attr('required', '');
      // $('#price').attr('required', '');
      // $('#quantity').attr('required', '');
      // $('#comments').attr('required', '');
      // $('#type').attr('required', '');
      // $('#size').attr('required', '');
      // $('#gender').attr('required', '');
      // $('#model').attr('required', '');
      // $('#dimensions').attr('required', '');
      // $('#color').attr('required', '');
      //$('#course_num').attr('required', '');
      //data errors
      // $('#book_title_ed').attr('data-error', 'This field is required.');
      // $('#weight').attr('data-error', 'This field is required.');
      // $('#price').attr('data-error', 'This field is required.');
      // $('#quantity').attr('data-error', 'This field is required.');
      // $('#comments').attr('data-error', 'This field is required.');
      // $('#type').attr('data-error', 'This field is required.');
      // $('#size').attr('data-error', 'This field is required.');
      // $('#gender').attr('data-error', 'This field is required.');
      // $('#model').attr('data-error', 'This field is required.');
      // $('#dimensions').attr('data-error', 'This field is required.');
      // $('#color').attr('data-error', 'This field is required.');

      if ($(this).val() == "books") {
        $('#post_title').show();
        $('#book_title_ed').show();
        $('#weight').show();
        $('#price').show();
        $('#comments').show();
        $('#course_num').show();
        $('#seller').show();
        $('#photo').show();
        //hidden
        $('#quantity').hide();
        $('#size').hide();
        $('#type').hide();
        $('#gender').hide();
        $('#model').hide();
        $('#dimensions').hide();
        $('#color').hide();
        //not required
        // $('#size').removeAttr('required');
        // $('#gender').removeAttr('required');
        // $('#model').removeAttr('required');
        // $('#dimensions').removeAttr('required');
        // $('#color').removeAttr('required');
        // //data error
        // $('#size').removeAttr('data-error', 'This field is required.');
        // $('#gender').removeAttr('data-error', 'This field is required.');
        // $('#model').removeAttr('data-error', 'This field is required.');
        // $('#dimensions').removeAttr('data-error', 'This field is required.');
        // $('#color').removeAttr('data-error', 'This field is required.');

      }
      else if ($(this).val() == "furniture") {
        $('#post_title').show();
        $('#dimensions').show();
        $('#weight').show();
        $('#type').show();
        $('#color').show();
        $('#price').show();
        $('#comments').show();
        $('#seller').show();
        $('#photo').show();
        //hidden
        $('#quantity').hide();
        $('#book_title_ed').hide();
        $('#size').hide();
        $('#gender').hide();
        $('#model').hide();
        $('#course_num').hide();
        //not required
        // $('#book_title_ed').removeAttr('required');
        // $('#gender').removeAttr('required');
        // $('#model').removeAttr('required');
        // $('#size').removeAttr('required');

      }
      else if ($(this).val() == "clothes") {
        $('#post_title').show();
        $('#type').show();
        $('#weight').show();
        $('#price').show();
        $('#size').show();
        $('#gender').show();
        $('#color').show();
        $('#comments').show();
        $('#seller').show();
        $('#photo').show();
        //hidden
        $('#quantity').hide();
        $('#book_title_ed').hide();
        $('#dimensions').hide();
        $('#model').hide();
        $('#course_num').hide();
        //not required
        // $('#book_title_ed').removeAttr('required');
        // $('#dimensions').removeAttr('required');
        // $('#model').removeAttr('required');
      }
      else if ($(this).val() == "electronics") {
        $('#post_title').show();
        $('#type').show();
        $('#model').show();
        $('#weight').show();
        $('#price').show();
        $('#dimensions').show();
        $('#quantity').show();
        $('#comments').show();
        $('#seller').show();
        $('#photo').show();
        //hidden
        $('#book_title_ed').hide();
        $('#size').hide();
        $('#gender').hide();
        $('#color').hide();
        $('#course_num').hide();
        //not required
        // $('#book_title_ed').removeAttr('required');
        // $('#gender').removeAttr('required');
        // $('#size').removeAttr('required');
        // $('#color').removeAttr('required');
      }
      else if ($(this).val() == "sports") {
        $('#post_title').show();
        $('#type').show();
        $('#size').show();
        $('#weight').show();
        $('#gender').show();
        $('#price').show();
        $('#comments').show();
        $('#seller').show();
        $('#photo').show();
        //hidden
        $('#quantity').hide();
        $('#book_title_ed').hide();
        $('#model').hide();
        $('#dimensions').hide();
        $('#color').hide();
        $('#course_num').hide();
        //not required
        // $('#book_title_ed').removeAttr('required');
        // $('#dimensions').removeAttr('required');
        // $('#model').removeAttr('required');
        // $('#color').removeAttr('required');
      }
      else {
        $('#post_title').hide();
        $('#book_title_ed').hide();
        $('#dimensions').hide();
        $('#price').hide();
        $('#color').hide();
        $('#weight').hide();
        $('#quantity').hide();
        $('#comments').hide();
        $('#type').hide();
        $('#size').hide();
        $('#gender').hide();
        $('#model').hide();
        $('#course_num').hide();
        $('#seller').hide();
        $('#photo').hide();
      }
    });
    $("#category_drop").trigger("change");

    // $( document ).ready(function() {
    // $('#subBTM').on('click',function(e){
    //     e.preventDefault();
    //     var empty = false;
    //     $('#sellitem').find( 'select, textarea, input' ).each(function(){
    //       var attr = $(this).attr('required');
    //         console.log($(this).toArray());
    //         if($(this).val()==''){
    //           console.log(attr);
    //         }
    //         if((typeof attr != 'undefined' && attr != false) && $(this).val()==''){
    //             console.log("empty req");
    //             empty = false;
    //             return false;
    //         } else empty = true;
    //     });
    //   if(!empty){
    //     alert("All fields required.");
    //     return false;
    //   }
    //   else{
    //     $('form').submit();
    //   }
    // }); 

    // $('#subBTM').on('click',function(){
    //     $('form').submit();
    // });
  //});
  </script>
</body>

</html>