{% extends 'view.html' %}

{% block info %}
<div class="list-group">
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Garment Type</h5>
    </div>
    <p class="mb-1">{{item.get_garment_type()}}</p>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Description</h5>
    </div>
    <p class="mb-1">{{item.get_description()}}</p>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Size</h5>
    </div>
    {% if small %}
    <p class="mb-1">Small</p>
    {% endif%}
    {% if medium %}
    <p class="mb-1">Medium</p>
    {% endif%}
    {% if large %}
    <p class="mb-1">Large</p>
    {% endif%}
    {% if xlarge %}
    <p class="mb-1">Extra Large</p>
    {% endif%}
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Color</h5>
    </div>
    <p class="mb-1">{{item.get_color()}}</p>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Gender</h5>
    </div>
    {% if unisex %}
    <p class="mb-1">Unisex</p>
    {% endif %}
    {% if female %}
    <p class="mb-1">Female</p>
    {% endif %}
    {% if male %}
    <p class="mb-1">Male</p>
    {% endif %}
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Weight <span style="font-size: x-small;">lbs</span></h5>
    </div>
    <p class="mb-1">{{item.get_weight()}}</p>
  </a>

  {%endblock %}